body{
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/foto-premium/cartone-animato-prato-paesaggio-campi-verdi-estivi-vista-primavera-prato-collina-e-cielo-blu_733139-2833.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}