
/*Hero3 - griglia, tana, talpe, bombe + funzione attivazione itemsa*/
.parent {  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1.25rem;
    width: 36vw;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 15vh;
}

/*Media query gestione griglia*/
@media (max-width: 768px) {
    .box{
        height: 5vh;
    }
    .parent{
        margin-top: 10%;
        padding-bottom: 7%;
    }
  }