/*Hero1 - titolo e loghi/collegamenti*/
#title{
    width: 20rem;
    height: 12rem;
}
.logos{
    display: flex;
    gap:1rem;
}

/*Media quert per logo responsive nell'header*/
@media (max-width: 768px) {
    #title{
        width: 40%;
        height: 25%;
    }
}