
/*Layer secondario post-interazione utente (talpacolpita/bomba presa/vittoria/sconfitta)*/
#sec-layer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.additionl-bg-err{
    position: absolute;
    z-index: 2;
    opacity: 1;
    background-color: rgba(255, 166, 0, 0.3);
}
.additionl-bg-well{
    opacity: 1;
    background-color: rgba(0, 255, 0, 0.2);
}
.additionl-bg-win{
    opacity: 1;
    background-color: rgba(255, 255, 0, 0.5);
}
.additionl-bg-lose{
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.3);
}
#cup{
    width: 25%;
    height: 35%;
    position: relative;
    z-index: 1;
}
#gameover{
    width: 35%;
    height: 20%;
    position: absolute;
    z-index: 2;
    margin-bottom: 5%;
}
#winner{
    color: rgb(242, 255, 0);
    position: relative;
}
#loser{
    margin-top: 30vh;
    color: rgb(242,0, 0);
    position: absolute;
}
.finalmess{
    font-family:'Press Start 2P', monospace;
    font-weight: bold;
    font-size: 5rem;
    z-index: 2;
}